<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="AmazonfirstTC">
  <classes>
  <class name="src.newSeleniumTestLogin.Successlogin"></class>
  <class name="src.newSeleniumTestLogin.LoginDone"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
